/**

IE8 care which
css is compatible with
media query 
vw,vh,vmin
(relative components)
postcss: [
  postcss-simple-vars
  postcss-media-minmax
]

**/

div {
  float: left;
  background: #e69;
  height: 150px;
  clear: both;
  color: #fff;
  font-weight: 700;
  text-align: center;
  display: table;
  width: 80vw;
  min-width: 756px;
  span {
    font-size: 5vw;
    display: table-cell;
    vertical-align: middle;
  }
}

@media screen and (max-width:(756/0.8+px)) {
  div {
    background: green;
    span {
      font-size: 756/0.8*5/100+px !important;
    }
  }
}

@media screen and (width<=850px) {
  div {
    background: #000;
  }
}

@media screen and (width<=450px) {
  div {
    text-align: left;
  }
}